{{define "users/index.tmpl"}}  {{/*通过define可以给模板命名*/}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/index.css">
    <title>posts/index</title>
</head>
<body>
{{.title | safe }}
</body>
</html>
{{end}}