<!DOCTYPE html>
<html>
<body>
    {{/*嵌套另外一个模板文件*/}}
    {{template "ul.tmpl"}}
    <hr>
    <p>你好,{{.}}</p>
    <hr>
    {{/*嵌套使用define定义的模板*/}}
    {{template "ol.tmpe"}}
</body>
</html>

{{define "ol.tmpe"}}
<ol>
    <li>吃饭</li>
    <li>睡觉</li>
    <li>打豆豆</li>
</ol>
{{end}}