<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
</head>
<body>
    <p>u1</p>
    <p>姓名： {{.u1.Name}} </p>
    <p>年龄： {{.u1.Age}} </p>
    <p>性别: {{.u1.Gender}}</p>
    <hr>

    <p>m1</p>
    <p>姓名： {{.m1.name}} </p>
    <p>年龄： {{.m1.age}} </p>
    <p>性别: {{.m1.gender}}</p>

    <hr>
    {{if lt .u1.Age 22}}
        好好上学
    {{else}}
        好好工作
    {{end}}
    <hr>
    {{range $id,$hobby := .hobby}}      {{/* range 遍历切片 */}}
        <p>{{$id}}-{{$hobby}}</p>
    {{else}}
        啥爱好没有
    {{end}}
    <hr>
    {{kua .u1.Name}}

</body>
</html>